html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body,
#root {
    height: 100%;
    width: 100%;
}

body {
    font-family: "Jetbrains Mono", monospace;
    font-size: 14px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
    